* {
    margin: 0;
    padding: 0;
}




body {
    background-color: #9E6240;
    background-color: #C07F5F;
    background-color: #704214;
    background-color: #98613A;
}

.bg-custom {
    background-color: #B87D48;
    background-color: #E9CFAF;
}

.navbar {
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.navbar-brand {
    font-size: 24px;
    font-family: "Space Mono", monospace;
  }



.nav-link {
    font-size: 28px;
    color: #DEDEDE;
    font-family: "Space Mono", monospace;
}

.navbar-nav .nav-item {
    margin-right: 20px; 
}


/* Style for inactive tabs */
.nav-tabs .nav-item .nav-link {
    background-color: #B87D48; /* Light brown background */
    color: #DEDEDE; /* White text */
    border-bottom: 1px solid transparent;
    margin-bottom: 0.25px;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #644536;
    background-color: #733c14;
    background-color: #46220f;
}

/* Style for active tabs */
.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:focus{
    background-color: #644536; /* Brown background */
    color: #DEDEDE; /* White text */
    background-color: #733c14;
    background-color: #46220f;
}


.navbar-brand {
    color: #46220f;
    margin-left: 24px;
    font-size: 40px;
}

.navbar-brand:hover {
    color: #52300F; /* Change to the desired color */
    color: #733c14;
}


/* Change color of icon on hover */
.navbar-brand:hover .fa-camera-retro {
    color: #52300F; /* Change to the desired color */
    color: #733c14;
}


@media (max-width: 576px) {
    .navbar-brand {
      font-size: 28px;
    }
  }


.direct_container {
    text-align: center;
    margin: 5vh;
    border: #46220f solid 8px;
    padding: 10px;
    border-radius: 20px;
    color: #DEDEDE;
    font-family: "Space Mono", monospace;


}

.search_items {
    margin-left: 15px;
}

.submit{
    margin-right: 15px;
}

.big_form_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #DEDEDE;
    font-size: 36px;
    height: 100%;
    justify-content: space-evenly;
    font-family: "Space Mono", monospace;
}

@media (max-width: 1300px) { /* Adjust breakpoint as needed */
    .big_form_container {
        flex-direction: column; /* Change to column layout on medium and smaller screens */
        align-items: center; /* Center items horizontally when in column layout */
        text-align: center; /* Center items horizontally within the container */
    }

    .search_items,
    .number_items {
        margin-bottom: 40px; /* Increase space between columns */
    }
}


.search_items,
.number_items {
    margin-bottom: 20px; /* Adjust spacing between form items */
}

.keyword_label,
.number_label {
    font-weight: bold;
    margin-bottom: 5px; /* Adjust spacing between label and input */
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}



input:focus {
    outline: 2px solid #46220f; /* Change to your desired color */
}

.submit{
    background-color: #46220f;
    color: #DEDEDE;
    border-radius: 20px;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
}

input[type="submit"] {
    border-color: #E9CFAF;
    outline-color: #E9CFAF;
   
}


.gif_container {
    text-align: center;
    margin: 5vh;
    border: #E9CFAF solid 8px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Space Mono", monospace;

}


.form_container {
    margin: 20px;
    margin-top: 6.25vh;
    border: #E9CFAF solid 8px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #46220f;
    flex-grow: 1;
    height: 100%;
    padding-bottom: 68px;
  }
  
  .form_container form {
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
  
  .title_flex {
    text-align: center;
    display: flex;
  }
  
  .second_title {
    color: #dedede;
    text-align: center;
    font-size: 50px;
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .all_entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    margin-top: 30px;
  }
  
  .form_text {
    color: #dedede;
    font-family: "Space Mono", monospace;
  }
  
  .row_entry {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
    margin-right: 10px;
    margin-top: 20px;
  }
  
  .first_name,
  .last_name,
  .email {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 24px;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 50%;
    padding-bottom: 40px;
    font-family: "Space Mono", monospace;
  }
  
  .message_text {
    color: #dedede;
    font-size: 24px;
  }
  
  .send_button {
    position: relative;
    right: 10px;
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
    top: 6vh;
    
  }


  
  .btn-lg {
    font-size: 32px;
    margin-top: 400px;
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Align the bottom of the button to the bottom of its parent */
    right: 10px;

  }



  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #46220f;
    padding: 20px 0;
    text-align: center;
    color: #DEDEDE;
}

.footer_2 {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #E9CFAF;
        padding: 20px 0;
        text-align: center;
        color: #46220f;

}

.gif_container{
    align-items: center;
}

#gif_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gif_container img {
    flex: 1 0 auto;
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
    margin-left: 2vw;
    margin-right: 2vw;
}












