body {
    background-color: #9E6240;
}

.bg-custom {
    background-color: #B87D48;
}

.navbar {
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.navbar-brand {
    font-size: 24px; 
}

.nav-link {
    font-size: 28px;
    color: #DEDEDE;
}

.navbar-nav .nav-item {
    margin-right: 20px; 
}


/* Style for inactive tabs */
.nav-tabs .nav-item .nav-link {
    background-color: #B87D48; /* Light brown background */
    color: #DEDEDE; /* White text */
    border-bottom: 1px solid transparent;
    margin-bottom: 0.25px;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #644536;
}

/* Style for active tabs */
.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:focus{
    background-color: #644536; /* Brown background */
    color: #DEDEDE; /* White text */
}


.navbar-brand {
    color: #DEDEDE;
    margin-left: 24px;
    font-size: 40px;
}

.navbar-brand:hover {
    color: #52300F; /* Change to the desired color */
}

/* Change color of icon on hover */
.navbar-brand:hover .fa-camera-retro {
    color: #52300F; /* Change to the desired color */
}











